[Unit]
Description=My Battery Stat Tracker Service

[Service]
Type=simple
ExecStart=/usr/lib/battery-tracker/battery_tracker

[Install]
WantedBy=multi-user.target
